html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 95px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 95px;
}
@media (max-width: 485px){
    body {
        margin-bottom: 110px;
    }
    .footer {
        height : 110px;
    }
}
@media (max-width: 425px){
    body {
        margin-bottom: 132px;
    }
    .footer {
        height: 132px;
    }
}